@font-face {
    font-family: 'GloriaHallelujah-Regular';
    src: url('fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}


body {
    font-family: 'GloriaHallelujah-Regular', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: #f0f0f0;
    color: orangered;

    /* szachownica */
    background-image: 
        linear-gradient(45deg, rgb(173, 159, 159) 25%, transparent 25%), 
        linear-gradient(-45deg, rgb(233, 195, 195) 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, rgb(194, 168, 168) 75%), 
        linear-gradient(-45deg, transparent 75%, rgb(218, 155, 155) 75%);
    background-size: 100px 100px; /* Rozmiar kratki */
    background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
}



h1 {
    
    font-size: 60px;
    margin-bottom: 20px;
}

#tytul p {
font-family: 'PressStart2P-Regular', Arial, sans-serif;
color: tomato;
font-size: 40px;
animation: pulsate 2s linear infinite;
}
@keyframes pulsate {
    0% {
    color: tomato;
    }
    50% {
    color: lime;
    }
    100% {
    color: dodgerblue;
    }
}

#answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.answer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

#difficulty {
    margin-top: 20px;
}

#difficulty p {
    font-weight: bold;
    margin-bottom: 10px;
}

#difficultyLevels {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.difficultyLevel {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#score {
    margin-top: 20px;
}

#score p {
    font-weight: bold;
    margin-bottom: 10px;
}

#scoreValue {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
